<html>
<head></head>
<h1>WELCOME TO HANGMAN</h1>
<h1><%=game_over%></h1>
<h2>Word was:<%=word.upcase%></h2>

<h3>Would you like to start a new game?</h3>
<form method = 'post'>
  <input type = 'text' name = 'new_game' />
  <input type = 'submit' value= 'Lets GO!!!!!'/>
</form>


</html>
