<!DOCTYPE html>
<html>
  <head>
    <title>Hangman</title>
  </head>
  <body>
    <header>WELCOME TO HANGMAN</header>
    <h2>This is your word</h2>
      <%print_board.each do |x|%>
      <%=x%>
      <%end%>
      <h3>Incorrect Guesses</h3>
      <%incorrect_guesses.each do |y|%>
        <%=y%>
        <%end%>
      <h3>Strikes Left </h3>
      <p><%=turns_left == 0 ? "GAME OVER" : turns_left%></p>

      <p>YOUR GUESS</p>
      <form method = 'post'>
        <input type = 'text' name = 'guess' />
        <input type = 'submit' value= 'Lets GO!!!!!'/>
      </form>
    </body>
</html>
