<!DOCTYPE html>
<html>
  <head>
    <title>Caesar Cipher</title>

  </head>
  <body>
    <header>THIS IS CAESAR CIPHER</header>
    <p>Please enter the phrase you would like to hide and your cipher number.</p>
    <form method = 'post'>
      <input type = 'text' name = "phrase"/>
      <input type = 'text' name = "number"/>
      <input type = 'submit' value= "Cipher this!"/>
    </form>
      <p> Your ciphered phrase is: <%=cipher%> </p>
  </body>
</html>
